<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDQyEU7aJUKL_P2Ab9n6fo-8pOWfZ3NkCI</string>
	<key>GCM_SENDER_ID</key>
	<string>704528776001</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.smallbusinessbestie.app</string>
	<key>PROJECT_ID</key>
	<string>small-business-bestie-app</string>
	<key>STORAGE_BUCKET</key>
	<string>small-business-bestie-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:704528776001:ios:29d7d46c788447e1f63fc0</string>
</dict>
</plist>